/*this is what we started with */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');





*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
    flex-shrink: 0;
}

body {
    height: 100%;
    line-height: 2.2;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #0E0E0F;
    background-size: cover;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid: 150px / auto auto auto;
  }


section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Adjust the height of the shadow as needed */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    pointer-events: none;
    z-index: 1;
  }

.container-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    max-width: 500px;
    transform: translate(-260px);
  }

/* navbar starts */

.nav-link {
    margin-right: 15px;
    font-size: 14px;
    color: rgb(233, 231, 231) !important;
}

.navbar {
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
    padding-bottom: 0;
    padding-left: 30%;
    backdrop-filter: blur(15px);
}

.nav-active {
    background-color:rgba(51, 50, 77, 0.39);
    box-shadow: 5px -1px 12px -5px grey;
}


.navbar-brand {
    font-family: 'Montserrat';
    font-weight: 400;
    color: white !important;
}

#hide1, #hide2, #hide3{
    display: inline-block;
    max-width: 0;
    opacity: 0;
    transition: max-width 0.4s, opacity 0.4s;
  }
  
#zk-trigger:hover #hide1, #zk-trigger:hover #hide3{
    max-width: 100px;
    opacity: 1;
    transition: max-width 0.4s, opacity 0.4s;
}

#zk-trigger:hover #hide2 {
    max-width: 200px;
    opacity: 1;
    transition: max-width 0.4s, opacity 0.4s;
}

/*navbar ends */

/* Home Begin */
.home {
    position: relative;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.5)), url("/src/assets/images/rockyMountain.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
  }

  .home::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust the height of the shadow as needed */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.904));
    pointer-events: none;
    z-index: 1;
  }
  

.home p {
    position: relative;
    z-index: 1;
    font-size: 1.1rem;
    color: rgb(255, 255, 255, 0.8);
    line-height: 1.4;
}


.expertlyCrafted {
    width: 817px;
    text-align: center; 
    color: rgb(255, 255, 255); 
    font-size: 64px; 
    font-style: normal;
    font-family: Inter; 
    font-weight: 500; 
    line-height: 70.40px; /* 110% */
    word-wrap: break-word;
    background: radial-gradient(100% 45% at 50% 50%, #fff8f8 30%, rgba(8, 8, 8, 0.966) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: text;
    padding-bottom: 1%;
}

.weAssist {
    width: 598px;
    color: rgba(255, 255, 255, 0.747);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.32px; /* 159.429% */
    padding-bottom: 2%;
}

.we-offer {
    display: flex; 
    text-align: center;
    width: 90%;
    font-size: 38px; 
    font-style: normal;
    font-family: Inter; 

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

.btn {
    border-radius: 12px;
    background: #ED3111;
    border-color: #000;
}

.btn-learn {
    border-radius: 12px;
    background: #050100;
    border-color: #000; 
}

.learn-more {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    background: #0E0E0F;    
}

.terraform-container {
    color:#fff;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    background-image: url("/src/assets/images/sunsetCanyon.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: 70%;
    width: 950px;
    height: 920px;
    border-radius: 32px;
    margin-top: -250px;
    z-index: -1;
    
  }

.terraform {
    aspect-ratio: 1.8;
    image-rendering: optimizeQuality;
    object-fit: cover;
    width: 75%;
    height: 100%;
    overflow: visible;
    padding: 18% 18% 18% 18%;
    border-radius: 32px;
    
  }

.terraform-border {
    position: relative;
    top: 120px;
    left: 0;
    right: 0;
    bottom: -10;
    margin-bottom: 4%;
    padding-bottom: 20%;
    border-radius: 32px;
    background: linear-gradient(to bottom, transparent, #333, #000); /* Adjust gradient colors as needed */
    z-index: 0;
    pointer-events: none;
    content: '';
    
   
    }  

  @media (max-width: 991px) {
    .terraform {
      max-width: 80%;
      margin-top: 40px;
    }
  }

.section-2 {
    scale: 1.00;
    position: relative;
    height: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/src/assets/images/macDark.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.frame {
display: flex;
flex-grow: 1;
flex-basis: 0%;
flex-direction: column;
align-items: start;
justify-content: flex-start;
height: auto;
align-self: center;
margin-top: -50px;
}
@media (max-width: 991px) {
.frame {
    max-width: 100%;
}
}
@media (max-width: 640px) {
.frame {
    padding-top: 6px;
}
}
.stats-2 {
align-self: center;
display: flex;
margin-top: 0px;
width: 100%;
max-width: fit-content;
flex-direction: column;
}
@media (max-width: 991px) {
.stats-2 {
    max-width: 100%;
    margin-top: 40px;
}
}
.stats-main {
justify-content: space-between;
display: flex;
width: 1112px;
max-width: 100%;
padding-right: 0px;
padding-left: 0px;

gap: 300px;
margin: 0 365px;
}
@media (max-width: 991px) {
.stats-main {
    margin-right: 10px;
    flex-wrap: wrap;
    padding-right: 20px;
}
}
.span-stats {
align-items: start;
display: flex;
flex-direction: column;
margin-top: -35px;

}
@media (max-width: 991px) {
.span-stats {
    max-width: 100%;
}
}
.span-stats-2 {
justify-content: center;
border-radius: 8px;
border: 1px solid #ed3111;
background-color: #171719;
display: flex;
gap: 8px;
margin: 0 6px 0 45px;
padding: 4px 12px;
}
.img-bars {
aspect-ratio: 1.0;
object-fit: contain;
object-position: center;
width: 18px;
justify-content: center;
align-items: center;
overflow: hidden;
max-width: 100%;
margin-bottom: 15px;
}
.stats-icon-container {
color: #ed3111;
align-self: start;
flex-grow: 1;
white-space: nowrap;
font: 400 14px Inter, sans-serif;
}
@media (max-width: 991px) {
.stats-icon-container {
    white-space: initial;
}
}
.stats-BAS {
color: #fff;
align-self: start;
margin: 14px 0 -13px;
font: 400 40px Inter, sans-serif;
}
@media (max-width: 991px) {
.stats-BAS {
    max-width: 100%;
}
}
@media (max-width: 640px) {
.stats-BAS {
    padding-left: 43px;
}
}
.span-closer-look {
justify-content: center;
align-self: center;
display: flex;
flex-direction: column;
margin: auto 0 auto 78px;
}
.stats-closer-look {
justify-content: center;
color: rgba(255, 255, 255, 0.6);
text-align: right;
font: 400 16px Inter, sans-serif;
}
@media (max-width: 640px) {
.stats-closer-look {
    padding: 0 82px 0 3px;
}
}
.stats-exapanding {
color: rgba(255, 255, 255, 0.6);
align-self: end;
margin-top: 34px;
white-space: nowrap;
font: 500 18px/16px Inter, sans-serif;
}
@media (max-width: 991px) {
.stats-expanding {
    white-space: initial;
}
}
@media (max-width: 640px) {
.stats-exapanding {
    padding-left: 1px;
    margin: 0 48px 0 -2px;
}
}
.stats-container {
justify-content: space-between;
border-radius: 16px;
border: 1px solid rgba(255, 255, 255, 0.12);
background-color: #171719;
display: flex;
height: 450px;
width: auto;
margin-top: 36px;
gap: 20px;
padding: 20px 80px 20px 69px;
}
@media (max-width: 991px) {
.stats-8 {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 0 20px;
}
}
.span-start-end {
display: flex;
flex-grow: 1;
flex-basis: 0%;
flex-direction: column;
padding: 0 1px;
}
.img-stats {
aspect-ratio: 1;
object-fit: contain;
object-position: center;
width: 44px;
justify-content: center;
align-items: center;
overflow: hidden;
align-self: center;
max-width: 100%;
}
.stats-title {
justify-content: center;
color: rgba(255, 255, 255, 0.6);
text-align: center;
margin-top: 17px;
white-space: nowrap;
font: 400 14px/143% Inter, sans-serif;
}
@media (max-width: 991px) {
.stats-title {
    white-space: initial;
}
}
.stats-number {
color: #fff;
text-align: center;
align-self: center;
margin-top: 8px;
white-space: nowrap;
font: 400 30px Inter, sans-serif;
}
@media (max-width: 991px) {
.stats-number {
    white-space: initial;
}
}
.stats-divider {
background-color: rgba(235, 235, 235, 0.329);
display: flex;
width: 2px;
height: 500px;
flex-direction: column;
}
.span-stats-center {
display: flex;
flex-grow: 1;
flex-basis: 0%;
flex-direction: column;
}



/** section with cards begin **/


.wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.5)), url("/src/assets/images/cactusCover.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 10% 20% 20% 10%;
    width: fit-content;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -700px;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -80px;
}

.container-card {
    height: 480px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;

}

.card {
    width: 75px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 5px;
    display: flex;
    align-items: flex-start;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: rgb(7, 6, 6);
    display: flex;
    flex-wrap: nowrap;
    
}

.card > .row > .icon {
    background:  rgba(240, 162, 44, 0.911);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: visible;
    padding-top: 20px;
    padding-left: -10%;
    height: 60px;
    width: 480px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
    
}

.description p {
    color: #030101fd;
    width:max-content;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    font-size: 18px;
    padding-top: 0px; 
    padding-left: 10px;
    padding-right: 10px;
    background-color: #07070738;
    border-radius: 12px;   
}

.description h4 {
    color:rgb(223, 109, 44);
    text-transform: uppercase;
    padding-top: 290px;
    margin-left: -6px;
    font-size: 55px;
    width: 600px;
}

input {
    display: none;
}

input:checked + label {
    width: 750px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('src/assets/images/team.jpg');
}
.card[for="c2"] {
    background-image: url('src/assets/images/marketing.jpg');
}
.card[for="c3"] {
    background-image: url('src/assets/images/particles.jpg');
}
.card[for="c4"] {
    background-image: url('src/assets/images/inovation.jpg');
}

/* development */

.development {
    display: flex;
    flex-direction: column;
  
}
.development-2 {
justify-content: center;
border-radius: 8px;
border: 1px solid #ed3111;
background-color: #0e0e0f;
align-self: center;
display: flex;
gap: 8px;
padding: 6px 12px;
}
.img-development {
aspect-ratio: 1;
object-fit: contain;
object-position: center;
width: 18px;
overflow: hidden;
max-width: 100%;
}
.development-3 {
color: #ed3111;
align-self: start;
flex-grow: 1;
white-space: nowrap;
font: 500 14px Inter, sans-serif;
}
@media (max-width: 991px) {
.development-3 {
    white-space: initial;
}
}
.development-4 {
color: #f0eded;
text-align: center;
text-transform: capitalize;
align-self: center;
margin-top: 16px;
max-width: 498px;
font: 400 35px Inter, sans-serif;
}
@media (max-width: 991px) {
.development-4 {
    max-width: 100%;
}
}
.development-5 {    
margin-top: 42px;
width: 100%;
padding: 0 20px;
}
@media (max-width: 991px) {
.development-5 {
    max-width: 100%;
    margin-top: 40px;
}
}
.development-6 {
gap: 20px;
display: flex;
}
@media (max-width: 991px) {
.development-6 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
}
}
.column-development {
display: flex;
flex-direction: column;
line-height: normal;
width: 19%;
margin-left: 0px;
}
@media (max-width: 991px) {
.column-development {
    width: 100%;
}
}
.development-7 {
display: flex;
flex-direction: column;
margin: auto 0;
}
@media (max-width: 991px) {
.development-7 {
    margin-top: 4px;
}
}
.development-8 {
background-color: rgba(255, 255, 255, 0.1);
height: 1px;
}
.development-9 {
background-color: rgba(255, 255, 255, 0.1);
margin-top: 181px;
height: 1px;
}
@media (max-width: 991px) {
.development-9 {
    margin-top: 40px;
}
}
.development-10 {
background-color: rgba(255, 255, 255, 0.1);
margin-top: 181px;
height: 1px;
}
@media (max-width: 991px) {
.development-10 {
    margin-top: 40px;
}
}
.column-development-2 {
scale: 2.0;
display: flex;
flex-direction: column;
line-height: normal;
margin-top: -40px;
width: 63%;
margin-left: 20px;
}
@media (max-width: 991px) {
.column-development-2 {
    width: 100%;
}
}
.img-development-2 {
aspect-ratio: 3.23;
object-fit: contain;
object-position: center;
width: 100%;
align-items: flex-start;
overflow: hidden;
flex-grow: 1;
}
@media (max-width: 991px) {
.img-development-2 {
    max-width: 100%;
}
}
.column-development-3 {
display: flex;
flex-direction: column;
line-height: normal;
width: 19%;
margin-left: 20px;
}
@media (max-width: 991px) {
.column-development-3 {
    width: 100%;
}
}
.development-11 {
display: flex;
flex-direction: column;
margin: auto 0;
}
@media (max-width: 991px) {
.development-11 {
    margin-top: 4px;
}
}
.development-12 {
background-color: rgba(255, 255, 255, 0.1);
height: 1px;
}
.development-13 {
background-color: rgba(255, 255, 255, 0.1);
margin-top: 281px;
height: 1px;
}
@media (max-width: 991px) {
.development-13 {
    margin-top: 40px;
}
}
.development-14 {
background-color: rgba(255, 255, 255, 0.1);
margin-top: 281px;
height: 1px;
}
@media (max-width: 991px) {
.development-14 {
    margin-top: 50px;
}
}